html {
  background-color: #003000;
  color: #ffffff;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.RootController {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

header {
  background-color: #002000;
  border-bottom: 1px solid #000000;
  min-height: 4em;
}

footer {
  background-color: #002000;
  border-top: 1px solid #000000;
  min-height: 4em;
}

.RootController > .main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginForm tr.submit {
  text-align: right;
}

.JudgeController > .imagesContainer {
  display: flex;
  flex-wrap: wrap;
}

.ImprovedImage {
  width: 45%;
  display: flex;
  border: 1px solid #000000;
  border-radius: 1em;
  box-shadow: #000000 0 0 1em;
  margin: 0.5em;
}

.ImprovedImage > canvas {
  border-radius: 1em;
}
